body {
  padding: 0;
  margin: 0;
}

.blob-outer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  inset: 0;
  margin: auto;
  filter: blur(140px);
  /*opacity: 0.5;*/
}

.blob-inner-container {
  border-radius: 99999px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  overflow: hidden;
  background-color: #000000;
  transform: scale(0.8);
}

.blob {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  margin: auto;
  background: conic-gradient(from 0deg, rgb(34, 46, 212), rgb(219, 54, 54), #ffffff, #1b60f5, #ffffff, #09f);
  animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
  0% {
      transform: rotate(0deg) scale(2);
  }

  100% {
      transform: rotate(1turn) scale(2);
  }
}

.box {
  height: 30rem;
  width: rem;
  border-radius: 25px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 75%;
  justify-content: center;
}

h1 {
  font-family: "Black Ops One", system-ui;
  position: relative;
  text-align: center;
  padding: 16px;
  font-size: 3rem;
}
h2 {
  font-family: "Black Ops One", system-ui;
  position: relative;
  text-align: center;
  padding: 16px;
  font-size: 2rem;
}
.countdown {
  background-color: blue;
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-family: "Black Ops One", system-ui;
}
a {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 16px;
  width: 20vw;
  border-radius: 20px;
  font-family: "Black Ops One", system-ui;
  justify-content: center;
}